@font-face {
    font-family: Cursed Timer ULiL;
    src: url("CursedTimerUlil-Aznm.ttf");
}

body {
    margin: 0;
    background: #1b244a;
}

.container {
    display: flex;
    justify-content: space-evenly;
}

.team {
    margin: 20px;
    padding: 68px 85px;
    border: 2px solid #9aabd8;
}

.team-name {
    margin: 0 auto 21px;
    color: #eeeeee;
    text-align: center;
    font-family: Verdana;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
}

.score-text {
    margin: 0 auto 26px;
    background: #080001;
    color: #f94f6d;
    width: 155px;
    height: 120px;
    border-radius: 5px;
    font-family: Cursed Timer ULiL;
    font-weight: 400;
    font-size: 90px;
    line-height: 126.67px;
    letter-spacing: 0%;
    text-align: center;
}

.score-button-container {
    display: flex;
    justify-content: space-around;
}

.btn:hover {
    cursor: pointer;
}

.score-button {
    background: #1b244a;
    color: #9aabd8;
    border: 2px solid #9aabd8;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    font-family: Cursed Timer ULiL;
}

.new-game-btn-container {
    text-align: center;
}

.new-game-btn {
    background: #1b244a;
    color: #9aabd8;
    border: 2px solid #9aabd8;
    border-radius: 10px;
    padding: 10px 20px;
}
